.form-group
  = f.label :password, class: 'col-lg-2 control-label'
  .col-lg-10
    = f.password_field :password, class: 'form-control', placeholder: true
.form-group
  = f.label :password_confirmation, class: 'col-lg-2 control-label'
  .col-lg-10
    = f.password_field :password_confirmation, class: 'form-control', placeholder: true