-#- subscriptionable_id = item_c.id
-#- user_sub = find_user_sub(subscriptionable_id, subscriptionable_type)
-#- if user_sub
-#  = link_to "Unsubscription", subscription_path(user_sub), method: :delete, class: "btn-xs, btn-info like-link"
-#- else
-#  = link_to "Subscription", subscriptions_create_path(subscriptionable_type: subscriptionable_type, subscriptionable_id: subscriptionable_id, user_id: current_user.id), class: "btn-xs btn-success like-link"
