// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

:root {
  --star-size: 20px;
  --star-color: #fff;
  --star-background: #fc0;
}

.stars {
  --percent: calc(var(--rating) / 5.001 * 100%);
  display: inline-block;
  font-size: var(--star-size);
  font-family: Times; // make sure ★ appears correctly
  line-height: 1;
  background: #eee;
  &::before {
    content: '★★★★★';
    letter-spacing: 1px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.table_book th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}
.table_book th .asc {
  display: inline-table;
  padding-right: 15px;
  background-image: url(image_path('up_arrow.png'));
}

.table_book th .desc {
  display: inline-table;
  padding-right: 15px;
  background-image: url(image_path('down_arrow.png'));
}
