.rating {
  margin: auto 0;
}

.rating_star {
  background: url(image_path('star_grey.png')) 0 0;
  //background-size: cover;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: block;
  float: left;
}

.rating_update {
  background: url(image_path('star_grey.png')) 0 0;
  //background-size: cover;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: block;
  float: left;
}

.on {
  background: url(image_path('star.png')) 0 0;
  background-position: 0 16px;
}
