%h2 Show books in category: "#{@category.name}"
.row.justify-content-center
  .col-md-6
    = render 'books/books', books: @books, user: @user

.row
  .col-md-12
    %p= link_to "add_category", new_category_path, class: "btn btn-primary btn-lg add_category"
    %p= link_to "back", categories_path, class: "btn btn-primary btn-lg back_list_books"