%h2 Show books in category
= render 'books/books', books: @books, user: @user

.row
  .col-md-12
    %p= link_to "add_category", new_category_path, class: "add_category"
    %p= link_to "back", categories_path, class: "back_list_books"