.container
  .row
    .col-md-12
      &copy; 2019 Alex Alex
      .soc_wrapper
        %ul
          %li
            %a(href="https://www.facebook.com" target="_blank")
              %i.fab.fa-facebook
            %a(href="https://twitter.com" target="_blank")
              %i.fab.fa-twitter
            %a(href="https://vk.com" target="_blank")
              %i.fab.fa-vk
            %a(href="https://github.com" target="_blank")
              %i.fab.fa-github