%div
  .container
    .rwd-video
#manage
  .container
    .row
      .col-md-6
        .left.m-lg.p-lg
          %br
          %br
          %br
          %br
          %br
          %h2 DDDDDDDD
          .row
            .col-md-6
              = link_to new_user_registration_path(account_type: :company), class: 'btn btn-contesto btn-lg p-lg col-md-12' do
                .row
                  .col-md-8.text-left
                    %span
                  .col-md-4
                    %i.fa.fa-arrow-circle-right.fa-1-5x.ml.mt
            .col-md-6
              = link_to new_user_registration_path, class: 'btn btn-contesto btn-lg p-lg col-md-12' do
                .row
                  .col-md-8.text-left
                    %span
                  .col-md-4
                    %i.fa.fa-arrow-circle-right.fa-1-5x.ml.mt
          .row.mt.mb.pt.pb
            .col-md-6
            .col-md-6
      .col-md-6.text-center
        = image_tag 'image.jpg'
        

#why
  .container
    .row
      .col-md-12.text-center.m-lg.p-lg
        %h2
    .row
      .col-md-3.mt
        .icon
          %i.pig
        .text.text-center
          %h3 fgfgfg
          %p
      .col-md-3.mt
        .icon
          %i.bricks
        .text.text-center
          %h3 vbvbvb
          %p
      .col-md-3.mt
        .icon
          %i.clock
        .text.text-center
          %h3 nmnmnm
          %p
      .col-md-3.mt
        .icon
          %i.sbam
        .text.text-center
          %h3 uiuiui
          %p

#generalinfo
  .container
    .row
      .col-md-6
        %h1.text-center cldfdfd
        .bullets
          %ul
            %li
            %li
            %li
      .col-md-6.text-right
        = image_tag 'image.jpg'
